.banner-top {
}
.banner-top_left {
  width: 100%;
}

.banner-top_right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  &-title {
    font-size: 2vw;
    font-weight: 700;
    font-style: italic;
    font-family: "Times New Roman";
  }
  &-content {
    font-family: "Times New Roman";
    font-size: 1rem;
    font-style: italic;
    padding: 0 62px;
    text-align: center;
    margin: 0;
  }
  &-detail {
    font-family: "Times New Roman";
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    color: black;
  }
}

.banner-top_right-detail {
  position: relative;
  color: black;
  &:hover {
    color: black;
    .after:hover::after {
    }
  }
}

@media screen and (min-width: 768px) {
  .nho-hon-576 {
    display: none;
  }
  .lon-hon-576 {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .nho-hon-576 {
    display: block;
  }
  .lon-hon-576 {
    display: none;
  }
}
