.list--data {
  width: 100%;
  max-height: 376px;
  overflow: auto;
  &__li {
    padding-left: 8px;
    display: flex;
    height: 62px;
    margin-top: 2px;
    &__img {
      height: 56px;
      width: 38px;
      vertical-align: top !important;
    }
    &__content {
      overflow: hidden;
      height: 62px;
      width: 352px;
      text-overflow: ellipsis;
    }
  }
}
.list--data__li {
  background-color: rgb(245, 240, 227);
  transition: all 0.25s ease-in-out 0.05s;

  &:hover {
    background-color: white;
  }
}
.image--search {
  width: 100%;
  object-fit: cover;
}
.content--data__search {
  overflow: hidden;
  white-space: nowrap;
  text-align: justify;
  display: inline-block;
  line-height: 54px;
  width: 330px;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 1rem;
  margin-left: 12px;
  color: black;
  text-decoration: none;
  transition: all 0.25s ease-in-out 0.05s;
}

@media screen and (max-width: 1200px) {
  .list--data {
    max-height: 302px;
  }
  .image--search {
    vertical-align: top;
  }
  .list--data__li {
    height: 48px;
  }
  .content--data__search {
    line-height: 48px;
    width: 272px;
    font-size: 0.875rem;
  }
  .list--data__li__content {
    height: 48px;
  }
}
