.user-profile {
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  flex-direction: row;
  &_left {
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }
  &_Name {
    display: inline-block;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-align: justify;
    text-overflow: ellipsis;
    width: 100%;
  }
  &_right {
    margin-left: 12px;
    width: 98px;
    overflow: hidden;
  }
}

.user-profile_avt {
  height: 32px;
  width: 32px;
  background-size: cover;
  border-radius: 50%;
}
.mini-icon-user-not-login {
  font-size: 2rem;
}

.Menu-list_item_content {
  margin-left: 24px;
}
