.Menu-list {
  background-color: white;
  width: 166px;
  position: absolute;
  right: 0;
  top: 56px;
  border-radius: 3px;
  display: none;
  will-change: opacity;
  animation: animation-for-list-menu 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &::after {
    content: "";
    position: absolute;
    right: -4px;
    top: -24px;
    width: 100px;
    height: 34px;
  }

  &_ul {
    background-color: rgb(245, 240, 227);
    margin: 6px 0;
  }
}

@keyframes animation-for-list-menu {
  0% {
    opacity: 0;
    right: -20px;
    top: 56px;
  }
  100% {
    opacity: 1;
    right: 0;
    top: 56px;
  }
}

.Menu-list_item {
  position: relative;
  width: 164px;
  font-weight: 300;
  font-size: 1rem;
  padding: 4px 11px;
  cursor: pointer;
  transition: all 0.25s ease-in-out 0s;
  &:hover {
    color: black;
    background-color: white;
    .after::after {
      width: 100%;
    }
    .after9::after {
      width: 100%;
    }
  }
  & .SearchForm {
  }
  &_link {
    width: 172px;
    display: inline-block;
    color: black;
    &:hover {
      color: black;
    }
  }

  &_content {
    position: relative;
  }
}

.position-relative {
  position: relative;
  &:hover {
    .list-sanpham {
      display: block;
    }
  }
}
