.bottom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.button-pagination {
  user-select: none;
  transition: all 0.25s ease-in-out 0s;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  margin: 0 8px;
  padding: 2px 8px;
  &:hover {
    background-color: black;
    color: white;
  }
}
.pagination {
  display: flex;
  justify-content: center;
}
.pagination-number {
  margin: 0 8px;
  border: 1px solid black;
  padding: 2px 8px;
  transition: all 0.25s ease-in-out 0s;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-color: black;
    color: white;
  }
}

.pagination-number.active {
  background-color: black;
  color: white;
}
