.menu-vest {
  position: absolute;
  left: -40px;
  top: 40px;
  background-color: white;
  width: 188px;
  border-radius: 2px;
  display: none;
  z-index: 2;
  will-change: opacity;
  animation: animation-for-vestmenu 0.5s linear;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes animation-for-vestmenu {
  0% {
    background-color: white;
    opacity: 0;
    left: -40px;
    top: 62px;
  }
  100% {
    background-color: white;
    opacity: 1;
    left: -40px;
    top: 40px;
  }
}
.menu-vest::after {
  content: "";
  border: 12px solid;
  border-color: transparent transparent rgb(255, 255, 255) transparent;
  position: absolute;
  left: 86px;
  top: -18px;
}
.menu-vest::before {
  content: "";
  height: 12px;
  width: 188px;
  position: absolute;
  top: -12px;
  display: none;
}

.vest--list {
  background-color: rgb(245, 240, 227);
  margin: 6px 0;
  width: 188px;
}

.after:after {
  content: "";
  transition: 0.5s all ease;
  position: absolute;
  height: 1px;
  width: 0;
  background-color: black !important;
}
.first:after {
  left: 0;
}

.after7:after {
  content: "";
  transition: 0.5s all ease;
  position: absolute;
  height: 1px;
  width: 64px;
  top: 33px;
  background-color: black !important;
}

.after8:after {
  content: "";
  transition: 0.5s all ease;
  position: absolute;
  height: 1px;
  width: 73px;
  top: 33px;
  background-color: black !important;
}

.after9:after {
  content: "";
  transition: 0.5s all ease;
  position: absolute;
  height: 1px;
  width: 84px;
  top: 33px;
  background-color: black !important;
}

.first2:after {
  left: 0;
}

.li--vest {
  width: 188px;
  height: 36px;
  line-height: 36px;
  padding-left: 24px;
  transition: all 0.25s ease-in-out 0.1s;
}
.li--vest:hover {
  color: black;
  background-color: white;
}

.li--vest:hover .after::after {
  width: 100%;
}

.navling-vest {
  color: black;
  position: relative;
  display: inline-block;
  width: 164px;
}

.navling-vest:hover {
  color: black;
}

.name-item_vest {
  width: 100%;
  color: black;
  font-size: 1rem;
  position: relative;
}
