.display-flex-bill {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-click-to-open-detail-bill {
  right: 0;
  bottom: 52%;
  width: 102px;
  height: 37px;
  margin-right: 32px;
  background: black;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  line-height: 37px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out 0s;
  &:hover {
    background-color: red;
  }
}

.modal-open-confirm-history,
.modal-open-view-history {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  will-change: opacity, transform;
  animation: hiddenShow linear 0.1s;
  z-index: 1;
}
.modal-open-confirm-history.active,
.modal-open-view-history.active {
  display: block;
}

.modal-open-confirm-bill_overlay,
.modal-open-view-bill_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: 84%;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-user-profile {
  margin-top: 32px;
}
.payPage-content {
  margin-top: 24px;
  &_title {
    display: flex;
    justify-content: center;
    align-items: center;
    &-bill {
      font-size: 1.6rem;
      font-weight: 500;
    }
    &-icon {
      font-size: 2rem;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.25s ease-in-out 0s;
      &:hover {
        color: red;
      }
    }
  }
}

.payPage-content_body {
  padding: 0 36px;
}

.content-body_top {
  margin-top: 12px;
  &-title {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hr-payPage {
  border: 1px solid rgb(227, 227, 227);
  margin: 8px 0;
}

.email-phoneNumber {
  display: flex;
}
.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 0.5px solid black;
  border-radius: 4px;
  display: block;
  text-align: center;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 300;
  padding: 10px;
  width: 100%;
}

.form-control textarea {
  border: 0.5px solid black;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  padding: 10px;
  resize: none;
  width: 100%;
  outline: none;
}

.form-control.success textarea {
  border-color: #2ecc71;
}

.form-control.error textarea {
  border-color: #e74c3c;
}

.form-control textarea:focus {
  outline: 0;
  border-color: #777;
}
.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 12px;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.content-body_top-right {
  font-size: 1.2rem;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item-selected-in-payPage {
  max-height: 372px;
  overflow: auto;
}

.note-for-user {
  margin-top: 18px;
  &_title {
    margin-left: 18px;
    font-size: 1rem;
  }
}

.note-for-user_content {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  margin: 8px 0 0 32px;
  color: red;
}

.price {
  text-decoration-line: underline;
}
.thongtin-sanPham {
  display: flex;
  justify-content: center;
  align-items: center;
  &_tren {
    width: 100%;
  }
  &_duoi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.ten-san-pham {
  font-size: 1.2rem;
}
.size-sl-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_size,
  &_price,
  &_soluong {
    font-size: 1rem;
  }
}

.footer-cartPage {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-cartPage_top {
  width: 300px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  &-title {
    font-size: 1.2rem;
    font-weight: 300;
  }
  &-content {
    margin-left: 12px;
    font-size: 2rem;
  }
}
.price {
  text-decoration: underline;
}

.footer-cartPage_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-add-item-cart,
.button-buy-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 64px;
  border-radius: 4px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.button-add-item-cart {
  cursor: not-allowed;
}
.button-buy-now {
  margin-left: 24px;
  border: 0.5px solid rgb(206, 25, 25);
  transition: all 0.25s ease-in-out 0s;
  background-color: rgb(206, 25, 25);
  &_title {
    font-size: 1rem;
  }
  &_sub {
    font-size: 0.9rem;
    font-weight: 300;
  }
  &:hover {
    border: 0.5px solid rgb(230, 20, 20);
    background-color: rgb(230, 20, 20);
  }
}

.button-add-item-cart {
  margin-left: 24px;
  border: 0.5px solid black;
  background-color: black;
  transition: all 0.25s ease-in-out 0s;
  &_title {
    font-size: 1rem;
  }
  &_sub {
    font-size: 0.9rem;
    font-weight: 300;
  }
  &:hover {
    border: 0.5px solid rgb(206, 25, 25);
    background-color: rgb(206, 25, 25);
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  will-change: opacity, transform;
  animation: hiddenShow linear 0.1s;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: block;
}

@keyframes hiddenShow {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.notification-in-payPage {
  font-size: 1rem;
  color: red;
  margin-left: 24px;
  display: none;
  &.active {
    display: block;
  }
}

.modal__container {
  margin: auto;
  background: rgba(204, 204, 204, 0.2);
  border-radius: 2%;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.remove-padding-left {
  padding-left: 0 !important;
}

.modal__detail {
  margin: 0 28px;
}
.hello {
  max-width: 256px;
  max-height: 256px;
  & img {
    width: 100%;
    height: 100%;
  }
}
.complete-title {
  font-size: 2rem;
  color: #198754;
}

.button-add-item-cart1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 64px;
  border-radius: 4px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 0.5px solid black;
  background-color: black;
  transition: all 0.25s ease-in-out 0s;
  &_title {
    font-size: 1rem;
  }
  &_sub {
    font-size: 0.9rem;
    font-weight: 300;
  }
  &:hover {
    border: 0.5px solid rgb(206, 25, 25);
    background-color: rgb(206, 25, 25);
  }
}

.block-confirm-bill {
  width: 20%;
  height: 10%;
  background-color: rgba(255, 255, 255, 0.79);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .remove-padding-right {
    padding-right: 0 !important;
  }
  .payPage-content_top1 h1 {
    font-size: 4.2vw;
  }
  .note-for-user {
    margin-top: 24px;
  }
}
@media screen and (min-width: 576px) {
  .payPage-content_top2 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .payPage-content {
    margin-top: 54px;
  }
}

@media screen and (max-width: 576px) {
  .payPage-content_body {
    padding: 0 16px;
  }
  .no-padding {
    padding: 0px !important;
  }
  .remove-padding-left {
    padding-left: 0 !important;
  }
  .remove-padding-right {
    padding-right: 0 !important;
  }
  .note-for-user {
    margin-top: 6px;
  }
  .button-add-item-cart,
  .button-buy-now {
    margin: 0;
    width: 136px;
  }
  .button-buy-now {
    margin-left: 8px;
  }
  .payPage-content_title h3 {
    font-size: 1.2rem;
  }
  .payPage-content_top1 {
    display: none;
  }
  .form-control {
    margin: 0;
  }
  .note-for-user_content {
    font-size: 0.875rem;
  }
}
