.Body-login {
  margin-top: 12px;
  width: 100%;
  position: relative;
  background-color: black;
}
.grid-login {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: black;
}
.login-left {
  width: 100%;
  &_img {
    width: 82%;
  }
}

.login-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.form-login {
}

.form-signUp {
  display: none;
}
.form-forgetPassword {
  display: none;
}

.form-login,
.form-signUp,
.form-forgetPassword {
  width: 70%;
  background-color: white;
  border-radius: 6px;
  will-change: opacity, transform;
  animation: Scale 0.2s ease-in-out 0s forwards;
}

.form-login-children {
  margin: 0 24px;
}

.form-login_title {
  width: 100%;
  height: 46px;
  padding: 24px;
  font-size: 1.2rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  & input {
    padding-left: 12px;
    color: black;
    font-size: 1rem;
  }
  & button {
    font-size: 1.2rem;
    background-color: black;
    color: rgb(245, 166, 47);
    cursor: pointer;
    transition: all 0.25s ease-in-out 0s;
    &:hover {
      background-color: rgb(55, 53, 53);
      border: 0.5px solid rgb(55, 53, 53);
      color: rgb(255, 153, 0);
    }
  }
}

.block-input {
  margin-bottom: 16px;
  height: 45px;
  outline: none;
  border: 0.5px solid black;
  border-radius: 2px;
}

.question-in-login,
.question-in-singUp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 4px;
  & span {
    cursor: pointer;
    transition: all 0.25s ease-in-out 0s;

    &:hover {
      color: rgb(255, 153, 0);
    }
  }
}
.question-in-singUp {
  margin-bottom: 12px;
}

//Login
.form-login-parent.success input {
  border-color: #2ecc71;
}

.form-login-parent.error input {
  border-color: #e74c3c;
}

.form-login-parent small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  padding-left: 12px;
}

.form-login-parent.error small {
  visibility: visible;
}

//signUP
.form-signUp-parent.success input {
  border-color: #2ecc71;
}

.form-signUp-parent.error input {
  border-color: #e74c3c;
}

.form-signUp-parent small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  padding-left: 12px;
}

.form-signUp-parent.error small {
  visibility: visible;
}

//forget-password
.form-forgetPassword-parent.success input {
  border-color: #2ecc71;
}

.form-forgetPassword-parent.error input {
  border-color: #e74c3c;
}

.form-forgetPassword-parent small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  padding-left: 12px;
}

.form-forgetPassword-parent.error small {
  visibility: visible;
}

.select-login {
  display: flex;
  align-items: center;
  justify-content: center;
  & p {
    margin: 0 12px;
    font-weight: 300;
    color: rgba($color: #000000, $alpha: 0.6);
  }
  & span {
    border: 0.01px solid rgba($color: #000000, $alpha: 0.2);
    width: 100%;
  }
}

.login-with {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 12px;
  &_left,
  &_right {
    width: 124px;
    height: 36px;
    display: flex;
    align-items: center;
    background-color: white;
    outline: none;
    border: 0.5px solid black;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.25s ease-in-out 0s;
    & div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 12px;
      & span {
        margin-left: 12px;
      }
      & div {
        background-color: white;
      }
    }
    &:hover {
      background-color: black;
      & span {
        color: white;
      }
    }
    & span {
      font-size: 1rem;
      font-weight: 300;
    }
  }
}

.form-login-parent,
.form-signUp-parent,
.form-forgetPassword-parent {
  position: relative;
  & input {
    width: 100%;
  }
}

.notification-signUp-succes,
.notification-forgetPassword-succes {
  height: 42px;
  margin-bottom: 6px;
  text-align: center;
  line-height: 42px;
  font-size: 1.2rem;
  color: black;
  display: none;
  user-select: text;
}

.notification-login-failed,
.notification-signUp-failed,
.notification-forgetPassword-failed {
  height: 42px;
  margin-bottom: 6px;
  text-align: center;
  line-height: 42px;
  font-size: 1.2rem;
  color: rgb(255, 0, 0);
  display: none;
  user-select: text;
}

@keyframes Scale {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
